@using OnlineShopMvc.App.DTOs.UserDTOs
@model AdminDetailsDTO


<h2>Stwórz nowe konto administratora</h2>
            <hr />

            <form asp-action="AddAdmin">
          
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="UserName" class="form-control"  aria-required="true" placeholder="Nazwa użytkownika" />
                <label asp-for="UserName">Nazwa użytkownika</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
              
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control"  aria-required="true" placeholder="Email" />
                  <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" aria-required="true" placeholder="Hasło" />
                <label asp-for="Password">Hasło</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" aria-required="true" placeholder="Potwierdź hasło" />
                <label asp-for="ConfirmPassword">Potwierdź hasło</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj</button>
            </form>
<form method="get" action="@Url.Action("ViewAdmins", "AdminUser")">
    <button type="submit">Powrót do listy</button>
</form>