@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h2 class="display-4">Witaj w sklepie internetowym</h2>
    <a href="@Url.Action("ViewProducts", "ClientShop")" class="btn btn-primary">Przeglądaj produkty</a>
</div>



