@using OnlineShopMvc.App.DTOs.ClientDTOs
@model ClientDetailsDTO
 
<h2>Rejestracja / dodawanie klienta</h2>

 
  @if (TempData["Message"] != null)
    {
        <p>@TempData["Message"]</p>
    }
     <form asp-action="RegisterClient">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label for="name">Imię:</label>
        <input type="text" id="name" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label for="surname">Nazwisko:</label>
        <input type="text" id="surname" asp-for="Surname" class="form-control"/>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div>
            <label for="email">Email:</label>
        <input type="text" id="email" asp-for="EmailAdress" class="form-control" />
            <span asp-validation-for="EmailAdress" class="text-danger"></span>
        </div>

        <div>
            <label for="telephone">Telefon:</label>
        <input type="text" id="telephone" asp-for="Telephone" class="form-control"/>
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>

        <div>
            <label for="street">Ulica:</label>
        <input type="text" id="street" asp-for="Address.Street" class="form-control"/>
            <span asp-validation-for="Address.Street" class="text-danger"></span>
        </div>

        <div>
            <label for="buildingNumber">Nr budynku:</label>
        <input type="text" id="buildingNumber" asp-for="Address.BuildingNumber" class="form-control"/>
            <span asp-validation-for="Address.BuildingNumber" class="text-danger"></span>
        </div>

        <div>
            <label for="flatNumber">Nr mieszkania:</label>
        <input type="text" id="flatNumber" asp-for="Address.FlatNumber" class="form-control"/>
            <span asp-validation-for="Address.FlatNumber" class="text-danger"></span>
        </div>

        <div>
            <label for="city">Miejscowość:</label>
        <input type="text" id="city" asp-for="Address.City" class="form-control"/>
            <span asp-validation-for="Address.City" class="text-danger"></span>
        </div>

        <div>
            <label for="zipCode">Kod pocztowy:</label>
        <input type="text" id="zipCode" asp-for="Address.ZipCode" class="form-control"/>
            <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
        </div>
         <button type="submit">Zarejestruj</button>

    </form>
    <form method="get" action="@Url.Action("Index", "Home")">
        <button type="submit">Powrót do strony głównej</button>
    </form>
 
